{% extends "unified_base.html" %}
{% from "components/nvc_components.html" import metric_card, action_card, account_card, transaction_row, form_input, form_select, notification_banner, progress_bar, stats_grid, loading_spinner, empty_state %}


{% block title %}Help Center - NVC Banking{% endblock %}

{% block page_title %}Help Center{% endblock %}
{% block page_description %}Get help and support for your banking needs{% endblock %}

{% block content %}
<div class="nvc-page-content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="nvc-card">
                <div class="nvc-nvc-card-header">
                    <h5 class="mb-0">
                        <i class="fas fa-question-circle me-2"></i>Help Center
                    </h5>
                </div>
                <div class="nvc-nvc-card-body">
                    <div class="row">
                        {% for category in help_data.help_categories %}
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="nvc-card h-100">
                                <div class="nvc-nvc-card-body text-center">
                                    <i class="{{ category.icon }} fa-3x text-primary mb-3"></i>
                                    <h6 class="nvc-card-title">{{ category.name }}</h6>
                                    <p class="nvc-card-text">{{ category.articles }} articles</p>
                                    <a href="#" class="btn nvc-btn nvc-btn-outline-primary btn-sm">Browse</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <h6>Popular Articles</h6>
                            <ul class="list-group">
                                {% for article in help_data.popular_articles %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ article.title }}
                                    <span class="badge bg-primary rounded-pill">{{ article.views }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>Recent Updates</h6>
                            <ul class="list-group">
                                {% for update in help_data.recent_updates %}
                                <li class="list-group-item">
                                    <strong>{{ update.title }}</strong>
                                    <br><small class="text-muted">{{ update.date }}</small>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}